<legend>Log in</legend>

<%= form_tag sessions_path do %>
<% if flash[:notice_login] %><div id="notice" class="alert alert-success"><%= flash[:notice_login] %></div><% end %>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password %>
    <%= password_field_tag :password %><br />

	<%= submit_tag "Log in", :class => "btn btn-success" %>
<% end %>
