<legend>Reset Password</legend>
<% flash.each do |name, msg| %>
	<div class="alert alert-success">
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	</div>
<% end %>

<%= form_for @o_user, :url => reset_password_save_path, :method => :put do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br />
  <input type="hidden" value="<%= params[:token] %>" name="token" />
  <input type="hidden" value="<%= params[:id] %>" name="id" />	
  <%= f.submit "Update my password" %>
  <div class="cl"></div>
<% end %>

