<div class="main-containt ">
	<div class="pagestext">
		<h3><%= t("general.mobile_page") %> ( <%= t("general.number_of_views") %> = <%= @o_single.view_count %> )</h3>
			<div class="contacttext">
				<div class="editablebox">
					<%= form_for @o_single, :url => content_path do |f| %>
					  <%#= f.error_messages %>

					  <div class="field">
						<%= f.label t("general.title") %>
						<%= f.hidden_field :id, :value => params[:id] %>
						<%= f.text_field :title %>
					  </div>

					  <p>
						<%= f.label t("general.content") %>
						<%= f.text_area :content %>
					  </p>

					  <p>
						<%= f.label t("general.url") %>
						<%= f.text_field :url %>
					  </p>

					  <%= f.submit :value => t("general.save") %>
					<div class="btnred"><%= link_to t("general.cancel"), root_path %></div>
					<div class="btnred gallery clearfix">
						<a href="#inline_demo2" rel="prettyPhoto[inline]"><%= t("general.preview") %></a>
						<%#= link_to t("general.preview"), content_show_path(params[:id]) %>
					</div>
					<div class="btnred">
						<%= link_to t("general.show"), m_first_path(params[:id]) %>
					</div>

					<% end %>

					<div class="cl"></div>
					</div>
			</div>
	</div>
</div>


<%= render 'content_preview' %>

	


