<div class="editablebox">
<h3><%= t("general.log_in") %></h3>
	<div class="errormsg">
		<% if flash[:error_login] %>
			<div id="notice"><%= flash[:error_login] %></div>
		<% end %>
	</div>
	<%= form_for(@user_session, :url => fronts_signin_path) do |f| %>
	  <% if @user_session.errors.any? %>
		<div id="error_explanation">
		  <ul>
		  <% @user_session.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="field">
		<%= f.label t("general.email") %>
		<%= f.text_field :username %>
	  </div>
	  <div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	  </div>
	  <div class="actions">
		<%= f.submit :Login %>


	  </div><div class="clearb"></div>

	<% end %>
</div>
<div class="clearb"></div>
