<div class="editablebox">


<div class="submenuform">
	<ul class="tab_content">
		<li id="stepform1" class="active">
			<%= link_to t("general.edit_profile"),"#", :id => "stepform1" %>
		</li>
		<li id="stepform2">
			<%= link_to t("general.edit_macros"),"#", :id => "stepform1" %>
		</li>
	</ul>
</div>
<div class="cl"></div>


<div id="stepcontent1" style="display:block;padding: 10px 10px 10px 10px;">
<h3><%= t("general.edit_profile") %><div style="float:right"><%= link_to t("general.change_password"), change_password_path %></div></h3>
<%= form_for(@o_userProvider, :url => mobile_edit_update_path) do |f| %>
  <div class="field">
    <%= f.label t("general.contact") %>
    <%= f.text_field :contact %>
	<%= f.hidden_field :id %>
  </div>

  <div class="actions">
    <%= f.submit t("general.save") %>
  </div>
<% end %>
</div>

<div id="stepcontent2" style="display:none;padding: 10px 10px 10px 10px;">
<h3><%= t("general.edit_macros") %></h3>
<%= form_for(@userdetail, :url => mobile_update_macros_profile_path) do |f| %>
<input type="hidden" value="<%= params[:id] %>" name="userdetail[user_id]" id="userdetail_user_id">
<%= f.hidden_field :id %>
	<%= hidden_field_tag :step, 'step2' %>
  <div class="fieldedit">
	<% if @userdetail.errors[:url].any? %>
		<span><%= t('general.filed_required') %></span>
	<% end %>   
    <%= f.label t("general.register_url") %>
    <%= f.text_field :url %>
   
  </div>
  
  <div class="fieldedit">
    <%= f.label t("general.register_desc") %>
    <%= f.text_field :desc %>
  </div>  

	<% if @userdetail.errors[:email].any? %>
		<span><%= t('general.filed_required') %></span>
	<% end %> 
  <div class="fieldedit">
    <%= f.label t("general.register_email") %>
    <%= f.text_field :email %>
    
  </div>

  <div class="fieldedit">
    <%= f.label t("general.register_phone") %>
    <%= f.text_field :phone %>
  </div>

  <div class="fieldedit">
    <%= f.label t("general.register_address") %>
    <%= f.text_field :address %>
  </div>

  <div class="fieldedit">
    <%= f.label t("general.register_office_hour") %>
    <%= f.text_field :office_hour %>
  </div>

 
  <div class="actions" style="float:left;">
    <%= f.submit t("general.save")%>
  </div>
<% end %>

</div>

<div class="cl"></div>
</div>
<% if params[:step] == 'step2'%>
<script type="text/javascript">
	$('#stepcontent2').show();
	$('#stepcontent1').hide();
</script>
<% end %>
<script type="text/javascript">
    $('#stepform1').click(function() {
		$('#stepcontent2').hide();
		$('#stepcontent1').show();
		$("#stepform2").removeClass("active");
		$("#stepform1").addClass("active");
    });
    $('#stepform2').click(function() {
		$('#stepcontent1').hide();
		$('#stepcontent2').show();
		$("#stepform1").removeClass("active");
		$("#stepform2").addClass("active");
    });
</script>
