<div class="editablebox">

<h3><%= t("general.new_user_registration") %></h3>

<p><strong><%= t("general.please_fill_in_details") %></strong></p>

<%= form_for(@userdetail, :url => fronts_register_path) do |f| %>

  <div class="fieldedit">
	<% if @userdetail.errors[:url].any? %>
		<span><%= t('general.filed_required') %></span>
	<% end %>   
    <%= f.label t("general.register_url") %>
    <%= f.text_field :url %> <%= t("general.www_mysite_com") %>
   
  </div>
  
  <div class="fieldedit">
    <%= f.label t("general.register_desc") %>
    <%= f.text_field :desc %>
  </div>  

	<% if @userdetail.errors[:email].any? %>
		<span><%= t('general.filed_required') %></span>
	<% end %> 
  <div class="fieldedit">
    <%= f.label t("general.register_email") %>
    <%= f.text_field :email %>
    
  </div>

  <div class="fieldedit">
    <%= f.label t("general.register_phone") %>
    <%= f.text_field :phone %>
  </div>

  <div class="fieldedit">
    <%= f.label t("general.register_address") %>
    <%= f.text_field :address %>
  </div>

  <div class="fieldedit">
    <%= f.label t("general.register_office_hour") %>
    <%= f.text_field :office_hour %>
  </div>


  	<% if @userdetail.errors[:is_agree].any? %>
		<span><%= t('general.please_accept_temrs_and_conditons') %></span>
	<% end %> 
  
    <div class="agreebtn"><%= f.check_box :is_agree %><span><%= t("general.is_agree") %><span></div>
 
  <div class="actions" style="float:left;">
    <%= f.submit t("general.create_new_mobile_page")%>
  </div>
<% end %>

<div class="cl"></div>
</div>
