<div class="editablebox">
<div class="admintextbox-leftpart ">
<%= form_for(@user) do |f| %>

 <div class="field">
    <%= f.label t("general.email") %>
    <%= f.text_field :username %>
	<span>
		<% if @user.errors[:username].any? %>
			<%= t(@user.errors[:username].first) %>
		<% end %>
	</span>
  </div>



  <div class="field">
    <%= f.label t("general.first_name") %>
    <%= f.text_field :first_name %>
	<span><% if @user.errors[:first_name].any? %>
		<%= t(@user.errors[:first_name].first) %></span>
	<% end %>
  </div>

  <div class="field">
    <%= f.label t("general.last_name") %>
    <%= f.text_field :last_name %>
	<span><% if @user.errors[:last_name].any? %>
		<%= t(@user.errors[:last_name].first) %></span>
	<% end %>
  </div>

  <div class="field">
    <%= f.label t("general.address") %>
    <%= f.text_area :address, :rows => "5" %>
  </div>

  <div class="field">
    <%= f.label t("general.city") %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label t("general.state") %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label t("general.zipcode") %>
    <%= f.text_field :zipcode %>
  </div>
  </div>
<div class="admintextbox-leftpart ">

  <div class="field">
    <%= f.label t("general.contact") %>
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label t("general.image") %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
  <div class="checkbox">
    <%= f.label t("general.user_role") %>
    <%#= f.check_box :is_admin %>
	<%= f.select :is_admin, options_for_select([[t("general.select_role"), ""], [t("general.admin"), 1], [t("general.user"), 0]], @user.is_admin)  %>
    </div>
  </div>

  <div class="field">
   <div class="checkbox">
    <%= f.label t("general.is_active") %>
    <%= f.check_box :is_active %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t("general.save") %>
  </div>
<% end %>

</div>
<div class="cl"></div>
</div>

