<div id="stepcontent2" style="display:none;padding: 10px 10px 10px 10px;">
<legend>Completed Tasks:</legend>
	<% if flash[:completed_todo] %>
		<div class="alert alert-success">
			<%= flash[:completed_todo] %>
		</div>
	<% end %>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th width="20%"><%= t("title") %></th>
	<th width="20%"><%= t("created_at") %></th>
	<th width="20%"><%= "Completed By User" %></th>
	<th width="10%"><%= t("actions") %></th>
  </tr>
  <% for o_row in @o_all_completed %>
    <tr>
      <td><%= o_row.title %></td>
      <td><%= o_row.created_at.to_s(:pretty) %></td>
      <td><%= o_row.get_user_email(o_row.completed_user_id) %></td>
      <td> 
		<%= link_to 'Edit', edit_todo_path(o_row), :remote => true %>
		<%= link_to 'Delete', destroy_completed_todo_path(o_row.id), :confirm => 'Are you sure to delete ?', :remote => true %>
		</td>
    </tr>
  <% end %>
</table>
<%= will_paginate @o_all_completed %>
</div>

<div class="cl"></div>
