<div class="control-group" style="display:none" id="shared_list">
	<%= form_for(User.new, :url => add_todo_path, :remote => true) do |f| %>
	  <div class="controls">
		<%= f.label "email" %>
		<%= f.text_field :email, :class => "input-xlarge" %>
		<span>
			  <% if flash[:error_message] %>
				<%= flash[:error_message] %>
			  <% end %>
		</span>
	  </div>

		<%= f.submit :value => "Share List", :name => 'save', :class => "btn btn-success" %>
		<div class="btn"><%= link_to "close", "#_", :id => 'close_sharedlist' %></div>
	<% end %>
</div>
