<header class="headline">
    <%= link_to(image_tag("servicehtml.jpeg", :alt => "Logo", :class => "round"), "/admin") %>
    <nav class="wlcm-menu">
      <ul>
		 <% if !session[:user_id].nil? %>
		   <li><%= image_tag "wc-admin.png" %><%= t("general.welcome") %>, <%= current_user.username %></li>
			<li><%= image_tag "edt-pfl.png" %><%= link_to t("general.edit_profile"), edit_user_path(current_user.id)%></li>
			<li><%= image_tag "logout.png" %><%= link_to t("general.logout"), :logout%></li>
		<% else %>
			<li>Welcome, Admin</li>
			<li><%= link_to t("general.home"), root_path %></li>
		<% end %>
      </ul>
    </nav>
<div class="cl"></div>
	 <% if !session[:user_id].nil? %>
		<nav class="menu">
	      <ul>
			<li><%= link_to t("general.users"), users_path %></li>
			<li><%= link_to t("general.facebook_users"), user_providers_path %></li>
			<li><%= link_to t("general.pages"), pages_path %></li>
			<li><%= link_to t("general.plans"), plans_path %></li>
			<li><%= link_to t("general.devices"), target_devices_path %></li>
  		  </ul>
	    </nav>
	<% end %>
<br />
</header>
